{{#extend "layout"}}
{{#content "main"}}

<section class="integration integration--ozon integration--yandex integration--wb">
    <div class="container">
        <div class="integration__inner">
            <div class="integration__content">
                {{> breadcrumbs }}
                <div class="integration__heading">
                    <span class="integration__tag">готовое решение</span>
                    <h1 class="integration__title">Интеграция 1С с&nbsp;Wildberries</h1>
                    <div class="integration__description">
                        <p>Автоматизируйте торговлю на маркетплейсе для массовой обработки заказов!</p>
                    </div>
                    <div class="integration__heading-picture">
                        <img class="integration__picture integration__picture--mobile" src="img/content/integrations/wb-mobile.png" alt="Integration Picture">
                    </div>
                </div>
                <div class="integration__footer">
                    <ul class="integration__buttons">
                        <li>
                            <a class="button" href="#">Заказать демо</a>
                        </li>
                        <li>
                            <a class="button button--secondary" href="#">Тест-драйв</a>
                        </li>
                    </ul>
                    <span class="integration__label">Тестовый период 14&nbsp;дней бесплатно!</span>
                </div>
            </div>
            <div class="integration__picture-block">
                <img class="integration__picture" src="img/content/integrations/wb.png" alt="Integration Picture">
            </div>
        </div>
    </div>
</section>

<section class="partners">
    <div class="container">
        <div class="partners__inner">
            <div class="partners__text">
                <h2 class="partners__title">RDV — единственный интегратор в России и СНГ, являющийся официальным технологическим партнером маркетплейсов</h2>
            </div>
            <ul class="partners__list">
                {{#each partners}}
                    <li>
                        <a class="partners__link" href="#" title="{{this.name}}" target="_blank">
                            <img src="{{this.logo}}" alt="{{this.name}}">
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</section>

<section class="problems">
    <div class="container">
        <div class="problems__inner js-show-hide js-show-hide--mobile" data-count="3">
            <div class="problems__heading">
                <h2 class="problems__title">С какими проблемами сталкиваются продавцы на&nbsp;Wildberries</h2>
                <div class="problems__picture-wrapper">
                    <img class="problems__picture" src="img/content/problems/problem.png" alt="Problems Picture">
                </div>
            </div>
            <ol class="problems__list">
                {{#each problems}}
                    <li class="problems__item js-show-hide-item">
                        {{{this.text}}}
                    </li>
                {{/each}}
            </ol>
            <button class="button button--stroke js-show-hide-button" type="button">
                <span class="default-label">Посмотреть все</span>
                <span class="active-label">Скрыть</span>
            </button>
        </div>
    </div>
</section>

<section class="video">
    <div class="container">
        <div class="video__inner">
            <h2 class="video__title">Посмотрите видеообзоры по&nbsp;интеграции 1С с&nbsp;Wildberries</h2>
            <div class="video__slider swiper js-video-slider loading">
                <ul class="swiper-wrapper">
                    {{#each video}}
                        <li class="swiper-slide">
                            <div class="video__slide">
                                <div class="video__slide-iframe-wrapper">
                                    <iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                </div>
                                <h3 class="video__slide-title">
                                    <a href="#">{{this.title}}</a>
                                </h3>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="tabs js-tabs">
    <div class="container">
        <h2 class="tabs__title">Чем RDV Маркет поможет продавцам в работе с Wildberries</h2>
        <div class="tabs__inner" data-sticky-container>
            <div class="tabs__navigation-wrapper">
                <div class="js-sticky" data-margin-top="40">
                    <div class="swiper">
                        <ul class="tabs__navigation swiper-wrapper">
                            {{#each tabs}}
                                <li class="js-tab swiper-slide {{#if this.active}}active{{/if}}">
                                    <span class="tabs__navigation-item">{{this.name}}</span>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="tabs__bodies">
                {{#each tabs}}
                    <li class="tabs__body js-body js-show-hide {{#if this.active}}active{{/if}}" data-count="2">
                        <ul class="tabs__body-list">
                            {{#each this.items}}
                                <li class="tabs__body-item js-show-hide-item">
                                    <div class="gallery">
                                        <div class="gallery__content">
                                            <h2 class="gallery__title">{{this.title}}</h2>
                                            <div class="gallery__description">
                                                {{{this.description}}}
                                            </div>
                                        </div>
                                        <div class="gallery__slider swiper js-gallery loading">
                                            <ul class="swiper-wrapper">
                                                {{#each this.images}}
                                                    <li class="swiper-slide">
                                                        <div class="gallery__image-wrapper">
                                                            <img src="{{this}}" alt="Gallery Image" data-src="https://via.placeholder.com/1920x1080" data-fancybox="gallery-{{../this.id}}">
                                                        </div>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                            <div class="gallery__placeholder show-on-mobile">
                                                <svg width="30" height="30">
                                                    <use xlink:href="#screen" />
                                                </svg>
                                                <span>{{this.label}}</span>
                                            </div>
                                            <div class="gallery__navigation">
                                                <button class="gallery__navigation-item prev" type="button" title="Prev">
                                                    <svg width="13" height="8">
                                                        <use xlink:href="#chevron" />
                                                    </svg>
                                                </button>
                                                <button class="gallery__navigation-item next" type="button" title="Next">
                                                    <svg width="13" height="8">
                                                        <use xlink:href="#chevron" />
                                                    </svg>
                                                </button>
                                            </div>
                                            <div class="gallery__pagination"></div>
                                        </div>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                        <button class="button button--stroke tabs__show-more js-show-hide-button" type="button">
                            <span class="default-label">Посмотреть все</span>
                            <span class="active-label">Скрыть</span>
                        </button>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</section>

<section class="call">
    <div class="container">
        <div class="call__inner">
            <h2 class="call__title">Нужна помощь?</h2>
            <div class="call__text">
                <p>Выберите опции выше или оставьте заявку — наш менеджер поможет с расчетом и&nbsp;расскажет про нужные для вас модули.</p>
            </div>
            <button class="button" type="button" data-modal="#form1">Заказать звонок</button>
        </div>
    </div>
</section>

<section class="simple-intro">
    <div class="container">
        <div class="simple-intro__inner">
            <div class="simple-intro__content">
                <h2 class="simple-intro__title">Как подключиться самостоятельно</h2>
                <div class="simple-intro__description">
                    <p>Вы можете подключиться к RDV Маркет самостоятельно. Как это сделать — подробно описано в нашей Академии!</p>
                </div>
                <ul class="simple-intro__buttons">
                    <li>
                        <a class="button button--secondary" href="#">Подробнее</a>
                    </li>
                </ul>
            </div>
            <div class="simple-intro__picture-block">
                <img src="img/content/simple-intro/academy.png" alt="Simple Intro Picture">
            </div>
        </div>
    </div>
</section>

<section class="form">
    <div class="container">
        <h2 class="form__title">Ваша заявка</h2>
        <form class="form__form js-lock-form js-handle-form" data-need-validation>
            <input name="page" type="hidden" value="/">
            <fieldset class="form__grid-inputs">
                <div class="form__input-wrapper js-validation-wrapper">
                    <svg class="form__input-icon">
                        <use xlink:href="#form-1" />
                    </svg>
                    <input class="form__input" name="name" type="text" placeholder="Ваше имя"
                        data-parsley-pattern="^[а-яА-ЯA-Za-z ]+$" required>
                    <svg class="form__input-validation-icon">
                        <use xlink:href="#check" />
                    </svg>
                </div>
                <div class="form__input-wrapper js-validation-wrapper">
                    <svg class="form__input-icon">
                        <use xlink:href="#form-2" />
                    </svg>
                    <input class="form__input" name="company" type="text" placeholder="Название компании" required>
                    <svg class="form__input-validation-icon">
                        <use xlink:href="#check" />
                    </svg>
                </div>
                <div class="input input--phone">
                    <svg class="form__input-icon">
                        <use xlink:href="#form-3" />
                    </svg>
                    <input class="input__control js-old-input" name="phone" type="tel" data-input=""
                        placeholder="Телефон" autocomplete="off" required data-parsley-phone>
                    <label class="input__placeholder">Телефон</label>
                    <svg class="form__input-validation-icon">
                        <use xlink:href="#check" />
                    </svg>
                </div>
                <div class="form__input-wrapper js-validation-wrapper">
                    <svg class="form__input-icon">
                        <use xlink:href="#form-4" />
                    </svg>
                    <input class="form__input" name="email" type="email" placeholder="Ваш корпоративный E-mail"
                        required>
                    <svg class="form__input-validation-icon">
                        <use xlink:href="#check" />
                    </svg>
                </div>
                <div class="form__input-wrapper js-validation-wrapper">
                    <svg class="form__input-icon">
                        <use xlink:href="#form-5" />
                    </svg>
                    <input class="form__input" name="site" type="url" placeholder="Ваш сайт" required>
                    <svg class="form__input-validation-icon">
                        <use xlink:href="#check" />
                    </svg>
                </div>
            </fieldset>

            <div class="form__input-wrapper js-validation-wrapper">
                <svg class="form__input-icon">
                    <use xlink:href="#form-6" />
                </svg>
                <textarea class="form__textarea" name="message" placeholder="Опишите свои задачи" required></textarea>
                <svg class="form__input-validation-icon">
                    <use xlink:href="#check" />
                </svg>
            </div>

            <button class="form__submit-button js-submit-form" type="submit">
                <span>Отправить</span>
                <svg width="9" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="m1 1 6 6-6 6" />
                </svg>
            </button>

            <div class="form__policy-wrapper">
                <label class="form__policy js-validation-wrapper">
                    <input class="js-lock-form-input" name="policy" type="checkbox" required checked>
                    <span class="form__checkmark"></span>
                    <span>Отправляя заявку, вы даете свое согласие на обработку <a href="#" target="_blank">персональных
                            данных</a> и соглашаетесь с <a href="#" target="_blank">условиями оферты</a>.</span>
                </label>
            </div>
        </form>
    </div>
</section>

<section class="two-columns">
    <div class="container">
        <div class="two-columns__inner">
            <div class="two-columns__text-block">
                <h2 class="two-columns__title">Оставьте, пожалуйста, ваши контакты и опишите текущие сложности по работе
                    со
                    складом</h2>
                <div class="two-columns__text">
                    <p>Мы с вами свяжемся и обсудим все детали</p>
                </div>
                <div class="two-columns__image-wrapper">
                    <img class="two-columns__image" src="img/content/forms/form-picture.png" alt="Form Picture">
                </div>
            </div>
            <div class="two-columns__content-block">
                {{> old-form}}
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}